:host {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  padding: 0.5rem 1rem 1rem 1rem;
  margin: 1rem auto;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px grey;
          box-shadow: 2px 2px 2px grey;
}

.date-picker .current-date {
  text-align: center;
  border: 1px solid red;
  width: 50%;
  margin: 0.5rem auto;
  padding: 0.5rem;
}

.date-picker .date-picker__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
}

.date-picker .date-picker__navigation button {
  padding: 0.2rem 0.4rem;
  background-color: transparent;
  color: orange;
  border-color: transparent;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
}

.date-picker .date-picker__navigation .current-month {
  padding: 0.2rem;
  margin: 0.5rem;
}

.date-picker .date-picker__month .month-content__week-days {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 5.5vh;
      grid-template-rows: 5.5vh;
  text-align: center;
}

.date-picker .date-picker__month .month-content__week-days .week-day {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.date-picker .date-picker__month .month-content__month-days {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (5.5vh)[6];
      grid-template-rows: repeat(6, 5.5vh);
}

.date-picker .date-picker__month .month-content__month-days a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.5vh;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-decoration: none;
  border-radius: 50%;
}

.date-picker .date-picker__month .month-content__month-days a:hover {
  background-color: beige;
}

.date-picker .date-picker__month .month-content__month-days .day {
  color: black;
}

.date-picker .date-picker__month .month-content__month-days .weekend {
  color: orange;
}

.date-picker .date-picker__month .month-content__month-days .supplementary-day {
  color: grey;
}

.date-picker .date-picker__month .month-content__month-days .selected-day {
  background-color: orange;
  color: purple;
}

.date-picker .date-picker__month .month-content__month-days .selected-day:hover {
  background-color: orange;
}

@media only screen and (min-width: 380px) {
  :host {
    width: 80%;
  }
}

@media only screen and (min-width: 567px) {
  :host {
    width: 50%;
  }
}

@media only screen and (min-width: 640px) {
  :host {
    width: 45%;
  }
}

@media only screen and (min-width: 768px) {
  :host {
    width: 35%;
  }
}

@media only screen and (min-width: 1024px) {
  :host {
    width: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  :host {
    width: 20%;
  }
}
/*# sourceMappingURL=date-picker.css.map */