\:host
    display: block
    font-family: Arial, Helvetica, sans-serif	
    border: 1px solid black
    width: 42%
    margin: 1rem auto
    border-radius: 10px
    box-shadow: 2px 2px 2px grey

.date-picker
    .current-date
        text-align: center
        border: 1px solid red
        width: 50%
        margin: 0.5rem auto
        padding: 0.5rem
    .date-picker__navigation
        display: flex
        justify-content: space-between
        align-items: center
        border: 1px solid black
        button
            padding: 0.2rem 0.4rem
            background-color: transparent
            color: orange
            border-color: transparent
            font-size: 2rem
            outline: none
            cursor: pointer
        .previous-month
            
        .current-month
            padding: 0.2rem
            margin: 0.5rem 
        .next-month
           
    .date-picker__month
        .month-content__week-days
            display: grid
            grid-template-columns: repeat(7, 1fr)
            grid-template-rows: 5vh 
            text-align: center
            .week-day
                align-self: center

        .month-content__month-days
            display: grid
            grid-template-columns: repeat(7, 1fr)
            a
                text-align: center
                padding: 1rem
                text-decoration: none
                border-radius: 50%

            .selected-day
                background-color: orange
                color: purple
            .day
                color: black
                &:hover
                    background-color: beige 
            .supplementary-day
                color: grey
                &:hover
                    background-color: beige 

